// update-frame.styles.scss

.update-frame {
    width: 230px;
    height: 45px;
    left: 310px;
    top: 85px;
    position: fixed;
    background-color: var(--secondary);
    border: 1px solid lightgrey;
    border-radius: 2px;
    z-index: 2000000000;
    transition: top .15s ease-in-out;
  
    button {
      display: inline-block;
      margin: 15px 13px 0;
    }
  
    &.selected {
      top: 130px;
    }
  
}

// END of document
