.App {
  font-family: sans-serif;
  text-align: center;
}

.img-preview {
  position: relative;
  height: fit-content;
  width: fit-content;
  /* height: 200px; */
  /* width: 300px; */
}

.image__wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
}

.image__wrapper img {
  object-position: center;
}

.draggable-overlay {
  max-width: 40%;
  height: 30%;
  aspect-ratio: 1 / 1.42;
  position: absolute;
  /* border-radius: 0.5rem; */
  /* box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.5); */
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 200ms ease;
  cursor: grab;
}
